<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Material Landing - Free Bootstrap Templates and Themes | NgTemplates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/material-design-iconic-font.css" >
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/css/font-awesome.css"> 
    <!-- build:css({.tmp,client}) styles/main.css -->
    <link rel="stylesheet" href="styles/angular-material/angular-material.css">
    <link rel="stylesheet" href="styles/ui.css">
    </head>
    <body ng-app='register'>
    <!--if lt IE 9<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    -->  
    <div class="page page-form" >
         <div class="row">
            <div class="col-lg-6 col-lg-offset-3 clearfix">
                <h2 class="section-header text-center">Welcome to Join Us</h2>
            </div>
            <div class="col-md-12" >
                <div class="panel panel-default">
                    <div class="panel-body padding-xl" data-ng-controller="RegisterCtrl" >
                        <div class="row" >
                            <div class="col-lg-8 col-lg-offset-2" >
                                <form name="material_signup_form" class="form-horizontal form-validation" data-ng-submit="submitForm()" method="POST" >
                                      <fieldset>
                                          <md-input-container class="md-block">
                                              <label>工作室名称</label>
                                              <md-icon class="fa fa-university"></md-icon>
                                              <input required 
                                                     type="text"
                                                     name="name" 
                                                     ng-model="user.name">
                                              <div ng-messages="material_signup_form.name.$error" multiple ng-if='material_signup_form.name.$dirty'>
                                                  <div ng-message="required">This is required.</div>
                              
                                              </div>
                                          </md-input-container>

                                           <div class="divider divider-md"></div>            
                                          <md-input-container class="md-block">
                                              <label>用户姓名</label>
                                              <md-icon class="fa fa-user"></md-icon>
                                              <input required 
                                                     type="text"
                                                     name="user_name" 
                                                     ng-model="user.user_name">
                                              <div ng-messages="material_signup_form.user_name.$error" multiple ng-if='material_signup_form.user_name.$dirty'>
                                                  <div ng-message="required">This is required.</div>
                                                  
                                              </div>
                                          </md-input-container>

                                          <div class="divider divider-md"></div>

                                          <md-input-container class=" md-block col-lg-6 " >
                                              <label>手机号码</label>
                                              <md-icon class="fa fa-phone"></md-icon>
                                              <input required 
                                                     type="text"
                                                     name="phone"
                                                     ng-model="user.phone"
                                                     ng-pattern="/^[1][358][0-9]{9}$/"                          
                                                     />
                                              <div ng-messages="material_signup_form.phone.$error" multiple ng-if='material_signup_form.phone.$dirty'>
                                                  
                                                  <div ng-message="pattern">It must be an valid phone number.</div>
                                              </div>
                                          </md-input-container>
                                     
                                          <md-input-container  class=" col-lg-6 md-block">
                                              <label>验证码</label>
                                              <md-icon class="fa fa-book"></md-icon>
                                              <input required 
                                                     type="text"
                                                     name="verify_code"
                                                     ng-model="user.verify_code"
                                                     ng-pattern="/^[0-9]{6}$/" />

                                              <div ng-messages="material_signup_form.verify_code.$error" multiple ng-if='material_signup_form.verify_code.$dirty'>
                                                  
                                                  <div ng-message="pattern">It must be an valid verify_code.</div>
                                              </div>
                                          </md-input-container> 

                                           <md-button class="md-raised btn-w-md md-primary col-lg-offset-10" data-ng-click="bindBtn()"   data-ng-disabled='validation' id="send-captcha" >发送短信验证码               
                                           </md-button>

                                          <div class="divider "></div>

                                           <md-input-container class="md-block">
                                              <label>工作室地址</label>
                                              <md-icon class="fa fa-info"></md-icon>
                                              <input required 
                                                     type="text"
                                                     name="address" 
                                                     ng-model="user.address"
                                                     ng-pattern="" />
                                              <div ng-messages="material_signup_form.address.$error" multiple ng-if='material_signup_form.address.$dirty'>
                                                  <div ng-message="required">This is required.</div>
                                              </div>
                                          </md-input-container> 

                                          <div class="divider divider-md"></div>

                                          <md-input-container class="md-block">
                                             <label>工作室简介</label>
                                              <md-icon class="fa fa-file"></md-icon>
                                              <input 
                                                     required 
                                                     type="text"
                                                     name="describe" 
                                                     ng-model="user.describe"
                                                     ng-pattern="" /> 

                                              <div ng-messages="material_signup_form.describe.$error" multiple ng-if='material_signup_form.describe.$dirty'>
                                                  <div ng-message="required">This is required.</div>
                                              </div>
                                          </md-input-container>

                                         <div class="divider divider-md"></div>                                                 
                                        <md-button type="submit"
                                                   class="md-raised btn-w-md md-primary btn-block btn-lg"
                                                   data-ng-disabled="!canSubmit()">Sign Up
                                        </md-button>

                                        <div class="divider"></div>

                                        <div class="callout callout-info">
                                            <strong >上面选项是必须填写项目，只有全部填写才能注册！</strong>
                                        </div>
                                        <div class="divider"></div> 
                                      </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div> 

    <script src="scripts/jquery.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/angular-aria.js"></script>
    <script src="scripts/angular-messages.js"></script>
    <script src="scripts/angular-material.js"></script>

    <script src="scripts/register.js"></script>


  </body>
</html>
